*{
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:5px;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    
}

.box{
    padding: 20px;
    text-align: center;
    background-color: rgb(142, 226, 199);
    /* margin: auto; */
}
.box:hover{
    background-color: rgba(142, 226, 199, 0.5);
}

header{
    height: 150px;
    padding:50px;
    background-color: rgb(17, 88, 87);
    color: white;
}

.start-btn{
    background-color: rgb(74, 184, 231);
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    font-size: large;
}
.start-btn:hover{
    background-color: rgb(108, 204, 155);
}
.player{
    background-color: rgb(231, 180, 118);
    width: 400px;
    height: 100px;
    padding: 20px;
    margin: 30px auto;
}