*{
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:fantasy;  
    font-weight: bold;
    background-color: rgb(181, 175, 175);
    /* color: white; */
}

#container{
    /* border: ; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:4px;
    width: 400px;
    height: 400px;
    margin: 20px auto;
    text-align: center;
    
}

.box{
    border:outset;
    padding: 10px;
    text-align: center;
    background-color: rgb(142, 226, 199);
    font-size: 65px;
    color: black;
    box-shadow: 10px 5px 5px rgba(22, 132, 130, 0.4);
    /* margin: auto; */
}
.box:hover{
    background-color: rgba(142, 226, 199, 0.5);
    
}

#title{
    padding-top: 10px;
    font-size: large;
}

header{
    height: 120px;
    padding:30px;
    background-color: rgb(22, 132, 130);
    color: white;
}
h1{
    background-color: rgb(22, 132, 130);
    font-size: 60px; 
}

#start-btn{
    background-color: rgb(74, 184, 231);
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    font-size: large;
}
#start-btn:hover{
    background-color: rgb(108, 204, 155);
}

#reset-btn{
    margin: 5px;
    background-color: rgb(74, 184, 231);
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    font-size: large;
}
#reset-btn:hover{
    background-color: rgb(108, 204, 155);
}

.player{
    background-color: rgb(231, 180, 118);
    width: 400px;
    height: 100px;
    padding: 20px;
    margin: 5px auto;
}
h3, #status{
    background-color: rgb(231, 180, 118);
    color: black;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.disabled{
    pointer-events: none;
    opacity: 0.2;
}
/* .box[data-state-x]{
    background-color: red;
}
.box[data-state-o]{
    background-color: aliceblue;
} */